.DS_Store
__pycache__/
*.pyc
.cache/
.state/
.env
.env.*
!.env.example
local.bash
local.zsh
local.lua
!examples/local.bash
!examples/local.zsh
!examples/local.lua
machine.json
machine.bash
stats.sqlite3*
*history*
node_modules/
dist/
